<div class='container'>
  <div class="col-lg-6 offset-3">
  <div class="card" id="login-tabs">
    <div class="card-header text-center">
        <div class="row tab-row">
          <span (click)='move({redirect:false})' class="col-sm tab-link noselect" [class.active] = "active == 'login'">Logowanie</span>
          <a routerLink='register' class="col-sm tab-link noselect" [class.active] = "active == 'register'">Rejestracja</a>
        </div>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  </div>
</div>



