<div class="container text-center">
  <h2>Zarezerwuj pokój</h2>
  <div class="row text-center info">
    <div class="col-lg left rounded">
      <br>
      <h4>Numer pokoju: {{ dane.id_pokoju }}</h4><br>
      <h4>Typ pokoju: {{ dane.typ_pokoju }}</h4><br>
      <h4>Koszt za noc: {{ dane.cena_noc }}</h4>
    </div>
    <div class='col-lg right rounded text-center'>
    <div *ngIf="funkcja === 'klient'; then rezerwacjaTemplate; else loginTemplate"></div>
    <ng-template #rezerwacjaTemplate>
      <div *ngIf="formularz; then formTemplate; else msgTemplate"></div>
      <ng-template #formTemplate>
        <form [formGroup] = "form" (ngSubmit)="registerEvent()" novalidate>
          <div class="form-group" formGroupName='dates'>
            <label for="date_start">data rozpoczęcia</label>
            <input type='date' class="form-control" formControlName="date_start">
          </div>
          <div class="form-group" formGroupName='dates'>
            <label for="date_end">data zakończenia</label>
            <input type='date' class="form-control" formControlName="date_end">
          </div>
          <button [disabled]="loading || error || form.invalid" class="btn btn-secondary">Zarezerwuj</button>
          <img *ngIf="loading" src="assets/loading.gif">
          <div class="alert alert-danger mt-2" *ngIf="error">
            {{this.error}}
          </div>
        </form>
      </ng-template>
      <ng-template #msgTemplate>
        <div class="alert alert-success mt-2" *ngIf="msg">
          {{this.msg}}
        </div>
      </ng-template>
    </ng-template>
    <ng-template #loginTemplate>
      Zaloguj się jako klient, żeby zarezerwować pokój.
      <div (click)='moveLogin()' class='btn btn-primary'>Zaloguj się</div>
    </ng-template>
  </div>
  </div>
</div>
