<div class="row">
  <div class='col text-right'>
    ilość pokojów na stronie:
    <span (click)='numChange(5)' class="ml-1 sort-link">5</span>
    <span (click)='numChange(10)' class="ml-1 sort-link">10</span>
    <span (click)='numChange(20)' class="ml-1 sort-link">20</span>
    <span (click)='numChangeAll()' class="ml-1 sort-link">wszystkie</span>
  </div>
</div>

<div class="row">
  <div class="col text-center rounded">
    <h2>Wolne pokoje w tym terminie:</h2><br>
  </div>
</div>
<div class="pokoikheader row text-center">
        <div class="col-sm">
          <h3>Numer pokoju:</h3>
        </div>
        <div class="col-sm">
          <h3>Typ pokoju:</h3>
        </div>
        <div class="col-sm">
          <h3>Cena za noc:</h3>
        </div>
        <div class="col-sm">
          <h3>Zarezerwuj</h3>
        </div>
      </div>

<div *ngIf='error; then noResultsTemplate; else resultsTemplate'></div>

<ng-template #resultsTemplate>

  <div class="row pokoik rounded text-center" *ngFor='let i of dane'>
    <div class="col-sm info">
      <h4>{{ i.id_pokoju }}</h4>
    </div>
    <div class="col-sm info">
      <h4>{{ i.typ_pokoju }}</h4>
    </div>
    <div class="col-sm info">
      <h4>{{ i.cena_noc }} złotych polskich</h4>
    </div>
    <div class="col-sm button">
      <button class="btn btn-success fa fa-bell" routerLink='/pokoj/{{i.id_pokoju}}'></button>
    </div>
  </div>

  <div class='row justify-content-center pt-2'>
      <ul *ngIf='pages' class="pagination pagination-lg">
        <li class="page-item" *ngFor = 'let p of Arr(pages).fill(1); let i = index'>
          <span class="page-link" (click)='pageChange(i+1)'>{{i+1}}</span>
        </li>
      </ul>
    </div>
</ng-template>
<ng-template #noResultsTemplate>
  <span>{{ error }}</span>
</ng-template>
