div {
    width: 100%;

	text-align:center;
}
  h1 {
    font-size: 50px;
    color: #fff;
    margin: 56px 0px 34px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
}
h2 {
    font-size: 200px;
    color: rgb(199, 163, 45);
    margin-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
}
p {
    font-size: 18px;
  margin-top: 23px;
  margin-bottom: 23px;
    color: rgba(0, 0, 0, 0.59);
    letter-spacing: 2px;
}
.btn{
 width: 170px;
}
