<nav class="navbar navbar-light center header">
  <div class="container">
    <a class="navbar-brand" href="#">Hotel-Jajusz.pl</a>
    <div class='navbar-nav navbar-center'>
      <h1 class='logo'>HOTEL JAJUSZ</h1>
    </div>
    <div class='row'>
      <div *ngIf="logged; then loggedIn; else notLoggedIn"></div>
      <ng-template #loggedIn>
        <div class="sm-col dropdown">
          <a class="nav-link dropdown-toggle mr-3 logo" href="#" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Witaj, {{ tresc }}
          </a>
          <div class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="dropdown2">
            <a [routerLink]='funkcja'>Panel</a><br>
            <a href="#" (click)='logout()'><b>Wyloguj</b></a>
          </div>
        </div>
      </ng-template>
      <ng-template #notLoggedIn>
        <div class="sm-col nav-link dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zaloguj</a>
          <div class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="dropdown">
              <a routerLink='auth/login'>Zaloguj</a><br>
              <a routerLink='auth/register'>Rejestracja</a><br>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
