<div class="text-center">
    <h4>Twoje rezerwacje:</h4>
    <div class="container rounded">
    <div class="kura">
  <div *ngIf='noresults; else resultsTemplate'></div>

  <ng-template #resultsTemplate>
      <div class="row hed">
          <div class="col">
            <h4>Numer rezerwacji</h4>
          </div>
          <div class="col">
            <h4>Numer pokoju</h4>
          </div>
          <div class="col">
            <h4>Data złożenia rezerwacji</h4>
          </div>
          <div class="col">
            <h4>Początek rezerwacji</h4>
          </div>
          <div class="col">
            <h4>Koniec rezerwacji</h4>
          </div>
          <div class="col">
              <h4>Stan</h4>
          </div>
      </div>
    <div class="row pokoik rounded text-center d-flex align-items-center" *ngFor='let i of dane'>
      <div class="col info">
        <h4>{{ i.id_rezerwacji }}</h4>
      </div>
      <div class="col info">
        <h4>{{ i.id_pokoju }}</h4>
      </div>
      <div class="col info">
        <h4>{{ i.data_rejestracji }}</h4>
      </div>
      <div class="col info">
        <h4>{{ i.pocz_rezerwacji}}</h4>
      </div>
      <div class="col info">
        <h4>{{ i.kon_rezerwacji }}</h4>
      </div>
      <div class="col info">
        <h4 *ngIf='i.zatwierdzony'>zatwierdzona</h4>
        <h4 *ngIf='!i.zatwierdzony'>oczekująca</h4>
      </div>
    </div>
  </ng-template>
  <div class='alert alert-secondary' ><h2>{{ error }}</h2></div>
  <br>
  </div>
  </div>
  </div>
