<div class="row hed text-center">
    <div class="col-lg">
      <h3>Panel administratora</h3>
    </div>
  </div>
  <div class="container text-center rounded">
    <h3>Pracownicy</h3>
    <h5>Dodaj pracownika: <button (click)='addprac()' class="btn btn-sm btn-success fa fa-plus"></button></h5>
    <div class="row nag">
        <div class="col-sm">
          <h5>ID pracownika</h5>
        </div>
        <div class="col-sm">
          <h5>Imię</h5>
        </div>
        <div class="col-sm">
          <h5>Nazwisko</h5>
        </div>
        <div class="col-sm">
          <h5>E-mail</h5>
        </div>
        <div class="col-sm">
          <h5>Adres</h5>
        </div>
        <div class="col-sm">
          <h5>Data zatrudnienia</h5>
        </div>
        <div class="col-sm">
          <h5>Pensja</h5>
        </div>
        <div class="col-sm-1">
          <h5>Usuń</h5>
        </div>
      </div>
      <div *ngIf='errorpok; then noResultsTemplate; else resultsTemplate'></div>
      <ng-template #resultsTemplate>
            <div *ngFor='let i of danepracownicy'>
              <div class="row info rounded">
              <div class="col-sm">
                {{ i.id_pracownika }}
              </div>
              <div class="col-sm">
                {{ i.imie }}
              </div>
              <div class="col-sm">
                {{ i.nazwisko }}
              </div>
              <div class="col-sm">
                {{ i.email }}
              </div>
              <div class="col-sm">
                {{ i.adres }}
              </div>
              <div class="col-sm">
                {{ i.zatrudniony }}
              </div>
              <div class="col-sm">
                {{ i.pensja }}
              </div>
              <div class="col-sm-1 button">
                <button class="btn btn-danger fa fa-close" (click)='deleteprac(i.id_pracownika)'></button>
              </div>
              </div>
            </div>
          </ng-template>
          <ng-template #noResultsTemplate>
              <span>{{ errorpok }}</span>
            </ng-template>
  <h3>Pokoje</h3>
  <h5>Dodaj pokój: <button class="btn btn-sm btn-success fa fa-plus" (click)='addpok()'></button></h5>
  <div class="row nag">
    <div class="col-sm">
      <h5>Numer pokoju</h5>
    </div>
    <div class="col-sm">
      <h5>Typ pokoju</h5>
    </div>
    <div class="col-sm">
      <h5>Cena za noc</h5>
    </div>
    <div class="col-sm-1">
      <h5>Usuń</h5>
    </div>
  </div>
    <div *ngIf='errorprac; then noResultsTemplate2; else resultsTemplate2'></div>
    <ng-template #resultsTemplate2>
          <div *ngFor='let i of danepokoje'>
            <div class="row info rounded">
            <div class="col-sm">
              <h5>{{ i.id_pokoju }}</h5>
            </div>
            <div class="col-sm">
              <h5>{{ i.typ_pokoju }}</h5>
            </div>
            <div class="col-sm">
              <h5>{{ i.cena_noc }} złotych polskich</h5>
            </div>
            <div class="col-sm-1 button">
              <button class="btn btn-danger fa fa-close" (click)='deletepok(i.id_pokoju)'></button>
            </div>
</div>
          </div>
        </ng-template>
        <ng-template #noResultsTemplate2>
            <span>{{ errorprac }}</span>
          </ng-template>


</div>
