/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/angular-calendar/css/angular-calendar.css');
@import url('./app/home/calendar-home/calendar-override.css');

@font-face {
  font-family: 'ADAMCG';
  src: url('/assets/ADAM.CG_PRO.otf');
}
@font-face {
  font-family: 'Palanquin-Light';
  src: url('/assets/palanquin-light.ttf') format("truetype");
}
@font-face {
  font-family: 'Palanquin-SemiBold';
  src: url('/assets/palanquin-semibold.ttf') format("truetype");
}
@font-face {
  font-family: 'Palanquin-Bold';
  src: url('/assets/palanquin-bold.ttf') format("truetype");
}
@font-face {
  font-family: 'Palanquin-Regular';
  src: url('/assets/palanquin-regular.ttf') format("truetype");
}

