<div class="row text-center rounded calendar">
  <div class="col-lg mt-3">
    <div class='mb-5'><h2>Wybierz dzień rezerwacji</h2></div>
    <app-calendar-home></app-calendar-home>
  </div>
</div>

<div class="container">
  <div class="row text-center lista rounded">
    <div class='col'>
      <h2>Wolne pokoje w tym terminie:</h2><br>
      <div class="pokoik">
        <div class="row">
          <div class="col-sm">
            <h3>Numer pokoju:</h3>
          </div>
          <div class="col-sm">
            <h3>Typ pokoju:</h3>
          </div>
          <div class="col-sm">
            <h3>Cena za noc:</h3>
          </div>
          <div class="col-sm">
            <h3>Zarezerwuj</h3>
          </div>
        </div>
      </div>
      <app-pokoje-lista></app-pokoje-lista>
    </div>
  </div>
</div>