<div class="container">
    <div class="row text-center rounded calendar">
        <div class="col-lg">
            <br><br>
            <h2>Wybierz dzień rezerwacji</h2>
            <br><br>
            <app-calendar-home></app-calendar-home>
        </div>
    </div>
    <div class="row text-center lista">
        <div class="col-lg">
            Takie coś typu lista do wybierania pokoi
            <br><br>Piękny Pokój jeden
            <br><br>
            Piękny pokój dwa
            <br><br>
            Piękny pokój trzy
        </div>
    </div>
</div>
