<div class="container content-align-center">
<div class="row text-center">
  <div class="col-6 offset-6 mb-2">
    <h3>{{ viewDate | date:'LLLL y' | capitalize}}</h3>
  </div>
</div>

<div class='row'>
  <div
    class='arrow col-1 d-flex align-items-center'
    mwlCalendarPreviousView
    [view]="view"
    [(viewDate)]="viewDate"
    (onClick)='clearSelect()'>
    <i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
  </div>
  <div class='col'>
    <mwl-calendar-month-view
      class='noselect'
      [viewDate]="viewDate"
      [events]="events"
      (beforeViewRender)="beforeViewRender($event)"
      (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
  </div>
  <div
    class='arrow col-1 d-flex align-items-center'
    mwlCalendarNextView
    [view]="view"
    [(viewDate)]="viewDate"
    (onClick)='clearSelect()'>
    <i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i>
  </div>
</div>
</div>
